
html {
    min-height: 100%;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.col-md-12 {
    padding: 0;
    overflow:hidden;
    display:block;
}

.home-container {
    position: relative;
    font-family: Arial;
    min-width: 100%;
    min-height: 100%;
}

.nav-tabs {
    background-color: rgba(255,255,255,0.8);
}

/* Style the header */
header {
    background: linear-gradient(to right, #3374ff 0%, #e6eeff 100%);
    text-align: right;
    font-size: 35px;
    color: white;
    padding-right: 15px;
}

/* Style the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 68, 204, 0.5);
    color: white;
    text-align: center;
}

/* Style the Home Page */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
/* Style for Gallery Page */

.search-container {
    max-width: 50%;
    margin: 0 auto;
}

.gallery-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block.cards-gallery .card {
    transition: 0.4s ease;
}

.gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
    text-align: center;
}

.gallery-block.cards-gallery .card-body p {
    font-size: 15px;
}

.gallery-block.cards-gallery a {
    color: #212529;
}

.gallery-block.cards-gallery a:hover {
    text-decoration: none;
}

.gallery-block.cards-gallery .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}
/* -----------------------------------------------------*/

/* Style for Carousel Page */
.carousel-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.carousel-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.carousel-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/* Style the Game Page */
#GameLadybugImg{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

#GameButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(128, 170, 255);
}

.game-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.game-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.game-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.fade {
    background-color: rgba(81, 99, 109, 0.5);
}



/* Styles for Information Page */

.planet-ul {
    padding: 0;
    margin-top: 40px;
    text-align: center;
    font-size: 1.1em;
}

.planet-ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
    margin: 2px 0;
    background: rgb(128, 170, 255);
    border-radius: 5px;
}

.planet-ul li a {
    color: white;
    text-decoration: none;
}

.planet-container {
    position: relative;
    margin: 10px 20px;
}

.planet-view {
    padding: 10px;
}

.planet-view.ng-animate {
    transition: all ease 0.4s;
    position: absolute;
}

.planet-view.ng-enter {
    top: 200px;
    opacity: 0;
}

.planet-view.ng-leave,
.planet-view.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
}

.planet-view.ng-leave.ng-leave-active {
    top: -200px;
    opacity: 0;
}

.information-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.information-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.information-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.error-msg {
    color: red;
}