<!DOCTYPE html>
<html ng-app="SomeApp">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-touch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-messages.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>

    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/main.js"></script>
</head>

<body ng-controller="myCtrl">

<script type="text/ng-template" id="generic-messages">
    <p ng-message="required" class="error-msg">This field is required.</p>
    <p ng-message="minlength" class="error-msg">This field is too short.</p>
    <p ng-message="maxlength" class="error-msg">This field is too long.</p>
</script>

<header>
    <button class="btn btn-primary" data-toggle="modal" data-target="#signIn" ng-show="!loggedIn">SignIn</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#SingUn" ng-show="!loggedIn">SignUp</button>
    <button class="btn btn-primary" ng-show="loggedIn" ng-click="loggedIn = false">SignOut</button>
</header>
<uib-tabset class="tabs-left" vertical="true">
    <uib-tab heading="Home" active="tabs[0].active">
        <video autoplay muted loop id="myVideo">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
    </uib-tab>
    <uib-tab heading="Gallery" active="tabs[1].active">
        <section class="gallery-block cards-gallery">
            <div class="heading">
                <h2>Cards Gallery</h2>
                <div class="input-group mb-3 search-container">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Search:</span>
                    </div>
                    <input type="text" ng-model="test" class="form-control" aria-label="search"
                           aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4" ng-repeat="x in records | filter:test">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="{{x.img}}">
                                <img src="{{x.img}}" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6><a href="#">{{x.title}}</a></h6>
                                <p class="text-muted card-text">{{x.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </uib-tab>
    <uib-tab heading="Carousel" active="tabs[2].active">
        <div class="container">
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Travels</h2>
                <div class="row">
                    <div class="col-lg-5">
                        <!-- Carousel ================================================== -->
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" ng-repeat="img in images" ng-class="{active: (img === 1)}"
                                    data-slide-to="{{$index}}"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div ng-class="{'carousel-item': true, active: (img === 1)}" ng-repeat="img in images">
                                    <img class="d-block w-100" ng-src="img/image{{img}}.jpg" alt="Slide number {{img}}">
                                    <div class="container">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" data-target="#myCarousel" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" data-target="#myCarousel" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div><!-- /.carousel -->
                    </div>
                    <div class="col-lg-7">
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3"><strong>Why You Should Travel Alone</strong></h3>
                        <!-- Excerpt -->
                        <p>Traveling with family and friends can be incredibly rewarding, offering experiences and
                            laughs that can bind us for a lifetime. So it might seem that traveling alone would be a
                            less enriching experience; without our favorite people to share it with, how could it
                            compare?</p>
                        <div ng-show="showMe">
                            <p>And yet many veteran travelers have memories of extraordinary, eye-opening solo trips, of
                                glorious
                                days when they set out alone and found and saw and noticed things they might never have
                                done otherwise.</p>
                            <p>
                                Why travel alone? Consider finding out for yourself. Here are 11 reasons why you should
                                travel alone at least once in your life.
                            </p>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="myFunc()">{{buttonText}}</button>
                    </div>
                </div>
                <hr class="my-5">
                <div class="row">
                    <div class="col-lg-7">
                        <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                            non
                            provident.</p>
                    </div>
                    <div class="col-lg-5">

                        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg"
                                 alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </uib-tab>
    <uib-tab heading="Game" active="tabs[3].active">
        <div class="container">
            <div class="row" ng-show="!loggedIn">
                <h3 class="text-center">In order to play the game you need to log in</h3>
            </div>
            <div class="row">
                <img src="img/GameLadybug.png" id="GameLadybugImg">
            </div>
            <div class="row" ng-show="loggedIn">
                <a class="btn btn-info" id="GameButton" href="ArcadeGame/Game.html">Play</a>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Information" active="tabs[4].active">
        <div class="container">
            <div>
                <script type="text/ng-template" id="atmosphere.html">
                    <p> <b> Name of the country: </b>{{country.name}} </p>
                    <p><b>Capital of the country:</b> {{country.capital}}</p>
                    <p><b> Languages: </b>{{country.languages}}</p>
                    <p><b>Area:</b> {{country.area}}</p>
                    <p><b>Population:</b> {{country.population}}</p>
                    <p>Picture: {{planet.picture}}</p>
                </script>
                <h1 class="text-center" id="infPageCaption">Information about countries</h1>
                <ul class="planet-ul">
                    <li><a href="#!/norway">Norway</a></li>
                    <li><a href="#!/sweden">Sweden</a></li>
                    <li><a href="#!/finland">Finland</a></li>
                    <li><a href="#!/ireland">Ireland</a></li>
                </ul>
                <div class="planet-container">
                    <div class="planet-view" ng-view></div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<!-- FOOTER -->
<footer>
    <div class="footer-copyright text-center py-3" id="footer">by Alla Chebotarska, 2018</div>
</footer>
<!-- SIGN IN Modal -->
<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signInTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signInTitle">Sing In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="signInForm">
                    <div>
                        <img src="img/signIn.svg" class="rounded-circle mx-auto d-block" alt="Cinque Terre" width="157"
                             height="157">
                    </div>
                    <div class="form-group">
                        <label for="signInLogin">Login</label>
                        <input type="text" class="form-control" id="signInLogin" placeholder="Enter login"
                               name="signInLogin"
                               ng-model="signInForm.login" ng-minlength="4" ng-maxlength="12" ng-pattern="/^\w+$/"
                               required>
                        <div ng-messages="signInForm.signInLogin.$error" ng-show="signInForm.signInLogin.$dirty">
                            <p ng-message="pattern" class="error-msg">Login can only be alphanumeric with an optional
                                underscore.</p>
                            <p ng-message="maxlength" class="error-msg">Login cannot be longer than 12
                                characters.</p>
                            <div ng-messages-include="generic-messages"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="signInPassword">Password</label>
                        <input type="password" class="form-control" id="signInPassword" placeholder="Password"
                               name="signInPassword"
                               ng-model="signInForm.password" ng-minlength="6" ng-maxlength="20" required>
                        <div ng-messages="signInForm.signInPassword.$error"
                             ng-show="signInForm.signInPassword.$dirty">
                            <div ng-messages-include="generic-messages"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="signIn()" data-dismiss="modal">SignIn</button>
            </div>
        </div>
    </div>
</div>
<!--SING UP Modal  -->
<div class="modal fade" id="SingUn" tabindex="-1" role="dialog" aria-labelledby="SingUnTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SingUnTitle">Sing Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/action_page.php">
                    <div>
                        <img src="img/signUp.svg" class="rounded-circle mx-auto d-block" alt="Cinque Terre" width="157"
                             height="157">
                    </div>
                    <div class="form-group">
                        <label for="sign-in-usr">Login:</label>
                        <input type="text" class="form-control" id="sign-up-usr" placeholder="Enter login"
                               ng-model="signInForm.login">

                    </div>
                    <div class="form-group was-validated">
                        <label for="sign-up-email">Email:</label>
                        <input type="email" class="form-control" id="sign-up-email" placeholder="Enter email"
                               name="email" ng-model="signUpForm.email" required="required">
                        <div class="invalid-feedback">Email is not correct!</div>
                    </div>
                    <div class="form-group was-validated">
                        <label for="sign-up-pwd">Password:</label>
                        <input type="password" class="form-control" id="sign-up-pwd" placeholder="Enter password"
                               name="pswd" ng-model="signUpForm.password" required="required" pattern=".{4,}">
                        <div class="invalid-feedback">Password should have 4 or more characters!</div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="signUp()">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
